.container {
  width: 450px;
  height: 700px;
  border: solid 1px grey;
  background-color: white;
}
.dropItem {
  display:inline-block;
  padding:2px 4px;
  margin:4px;
  border:1px solid #aaa;
  background-color: darkgray;
  width: 350px;
  height: 100px;
}
input {
  margin-left: 50px;
  width: 200px;
  height: 30px;

}
.dropItem:hover {
  border: solid 2px black;
}

