<div  class="ds-view-page" #autoscroll [class.open]="showDsItem" >
  <div class='edit-area' [dragula]='"form-builder-dnd"' [dragulaModel]='itemsDropped'>
    <div class="dropItem" [class.no-drag]="!editMode"
         *ngFor="let item of itemsDropped; let i = index"
         [class.active]="selectedItem['id'] === item.id && showDsItem"
         [attr.id]="i"
         (click)="selectItem(item)"
         (mousedown)="itemMoved(item)"
         (touchstart)="itemMoved(item)"
    >
      <div class="content">
        <div class="label">
        <label>{{item.name}}</label>
        </div>
        <textarea rows="3" class="its-width" *ngIf="item.type === 'longTextInput'" class="form-control"
                  disabled>{{ item.placeholder }}</textarea>

        <input class="form-control"
               [class.numbers]="item.type === 'numInput'"
               [class.date]="item.type === 'dateInput'"
               [class.its-width] = "item.type === 'textInput'"
               *ngIf="item.type === 'textInput'
           || item.type === 'dateInput'
           || item.type === 'numInput'"
               type="text" placeholder="{{ item.placeholder }}" readonly
               disabled
        >

        <select
          *ngIf="item.type === 'listInput'|| item.type === 'nestedListInput'" disabled="true"
        >
          <option selected="selected">{{ item.placeholder }}</option>
        </select>

        <!--TIME-->
        <div class="time" *ngIf="item.type === 'timeInput'">
          <input class="form-control"
                 [class.time]="item.type === 'timeInput'" type="text" placeholder="{{ item.placeholder }}" readonly disabled>
          <select [class.time-select]="item.type === 'timeInput'" class="form-control" *ngIf="item.type === 'timeInput'"
                  disabled="true">
            <option selected="selected">AM</option>
          </select>
        </div>

        <!--yes/no-->
        <div *ngIf="item.type === 'yesNoInput'" class="yes-no">
          <div class="radio">
            <input type="radio" value="Yes"> Yes
          </div>
          <div class="radio">
            <input type="radio" value="No"> No
          </div>
        </div>

        <p class="help-block">{{ item.description }}</p>
      </div>
      <div class="btn-remove" *ngIf="selectedItem['id'] === item.id && showDsItem">
      <button class="btn-remove-style">
        <label class="label-remove" (click)="itemDelete(item)">Remove</label></button>
    </div>
    </div>
  </div>
</div>

<q9-ds-item class="ds-item" [ngClass] = "{'ds-item-open': showDsItem }"
            [selectedItem]="selectedItem" [showDsItem]="showDsItem" [editMode]="editMode" (showDsItemEvent)="recieveEvent($event)"></q9-ds-item>
