:host {
  display: block;
}

.container-right{

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.name{
  width: 91.6666666667%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: none;
}
.itemName {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  padding: 1px;
  border: none;
  color: #424242;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  white-space: nowrap;
}
.info {
  width: 100%;
  color: #424242;
  font-family: "Source Sans Pro", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.428571429;
  border: 1px solid #ccc;
}
.details {
  height: 100%;
  padding:0 15px 0 15px;
}
.close {
  display: inline;
  width: 10px;
  height: 10px;
}

