.form-control {
  width: 100%;
  font-family: "Source Sans Pro", serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  padding: 4px 10px;
  line-height: 1.428571429;
  border: 1px solid #c7cfd2;
  outline: 0;

  &:focus{
    border: 1px solid #00abfb;
  }
  &.ng-invalid{
    border: 1px solid red;
  }
}
